@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kodchasan:wght@400;700&family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body font-normal;
  }

  h1 {
    transform: rotate(-5deg);
    @apply font-title text-3xl md:text-5xl text-center;
  }

  h2,
  h3 {
    @apply font-heading font-bold m-0;
  }

  html {
    font-size: 100%;
    @apply text-sm md:text-base;
  }

  h2 {
    @apply text-2xl md:text-4xl mt-50 mb-30 md:my-80;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  section {
    @apply full-size flex flex-col flex-nowrap justify-start items-center dark:text-cyan-light-1;
  }

  strong {
    @apply text-cyan-light-11 dark:text-cyan-dark-9;
  }

  #hero {
    background-image: linear-gradient(
        rgba(16, 125, 152, 0.5),
        rgba(16, 125, 152, 0.95)
      ),
      url(/hero-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hero.dark {
    background-image: linear-gradient(
        rgba(0, 56, 72, 0.5),
        rgba(0, 56, 72, 0.95)
      ),
      url(/hero-background.webp);
  }

  #who-am-i {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.85),
        rgba(250, 253, 254, 0.95)
      ),
      url(/who-am-i-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #who-am-i.dark {
    background-image: linear-gradient(
        rgba(11, 22, 26, 0.85),
        rgba(11, 22, 26, 0.95)
      ),
      url(/who-am-i-background.webp);
  }

  #techno {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.85),
        rgba(250, 253, 254, 0.95)
      ),
      url(/techno-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #techno.dark {
    background-image: linear-gradient(
        rgba(11, 22, 26, 0.85),
        rgba(11, 22, 26, 0.95)
      ),
      url(/techno-background.webp);
  }

  #projects {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.85),
        rgba(250, 253, 254, 0.95)
      ),
      url(/projects-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #projects.dark {
    background-image: linear-gradient(
        rgba(11, 22, 26, 0.85),
        rgba(11, 22, 26, 0.95)
      ),
      url(/projects-background.webp);
  }

  #contact {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.85),
        rgba(250, 253, 254, 0.95)
      ),
      url(/contact-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #contact.dark {
    background-image: linear-gradient(
        rgba(11, 22, 26, 0.85),
        rgba(11, 22, 26, 0.95)
      ),
      url(/contact-background.webp);
  }
}

@layer components {
  .navbar {
    @apply z-50 fixed top-0 left-0 right-0 py-5 px-10 md:px-25 drop-shadow-base flex flex-row flex-nowrap justify-around items-center
    bg-cyan-light-1 dark:bg-cyan-dark-1 text-cyan-light-12 dark:text-cyan-light-1;
  }

  .navbar-link {
    @apply inline-block mx-5 md:mx-25 px-5 md:px-10 outline-none rounded text-center
    hover:text-cyan-light-11 dark:hover:text-cyan-light-11
    focus:text-cyan-light-1 dark:focus:text-cyan-dark-1 focus:bg-cyan-light-12 dark:focus:bg-cyan-dark-12;
  }

  .theme-toggle {
    @apply outline-none p-4 rounded-full
    hover:text-cyan-light-11 dark:hover:text-cyan-light-11
    focus:text-cyan-light-1 dark:focus:text-cyan-dark-1 focus:bg-cyan-light-12 dark:focus:bg-cyan-dark-12;
  }

  .rs-link {
    @apply outline-none
  hover:text-cyan-light-8 dark:hover:text-cyan-dark-8
  focus:text-cyan-light-8 dark:focus:text-cyan-dark-8;
  }

  .link-button {
    border-radius: 41px;
    @apply flex justify-center items-center mt-10 px-20 py-10 font-bold text-cyan-light-1 bg-cyan-light-11 dark:bg-cyan-dark-11 outline-none
    hover:px-16 hover:py-6 hover:border-4 hover:text-cyan-light-12 dark:hover:text-cyan-light-1 hover:bg-cyan-light-1 dark:hover:bg-cyan-dark-3 hover:border-cyan-light-8 dark:hover:border-cyan-dark-8
    focus:px-16 focus:py-6 focus:border-4 focus:text-cyan-light-12 dark:focus:text-cyan-light-1 focus:bg-cyan-light-1 dark:focus:bg-cyan-dark-3 focus:border-cyan-light-8 dark:focus:border-cyan-dark-8;
  }

  .project-card {
    @apply flex flex-col flex-nowrap justify-center items-center py-20 px-10 md:py-40 md:px-20 rounded text-center drop-shadow-base hover:drop-shadow-xl
    bg-cyan-light-1 dark:bg-cyan-dark-3;
  }

  .techno-item {
    @apply flex items-center mb-5 md:mb-10;
  }

  .techno-tag {
    border-radius: 20px;
    @apply flex items-center px-8 py-2 mr-5 mb-5 text-sm bg-cyan-light-5 dark:bg-cyan-dark-5 dark:text-cyan-light-1;
  }

  .form-label {
    @apply font-heading font-bold text-base md:text-xl ml-20 dark:text-cyan-light-1;
  }

  .form-input {
    @apply w-full max-w-600 h-50 md:h-70 mt-5 mb-20 p-20 outline-none border-2 focus:border-4 rounded
    border-cyan-light-8 dark:border-cyan-dark-8 dark:bg-cyan-dark-3;
  }

  .button {
    border-radius: 43px;
    @apply outline-none py-10 px-20 font-heading font-bold text-xl md:text-2xl bg-cyan-light-11 text-cyan-light-1 dark:bg-cyan-dark-8 dark:text-cyan-light-1
    hover:py-6 hover:px-16 hover:border-4 hover:border-cyan-light-11 dark:hover:border-cyan-dark-8 hover:bg-cyan-light-1 dark:hover:bg-cyan-dark-3 hover:text-cyan-light-12 dark:hover:text-cyan-light-1
    focus:py-6 focus:px-16 focus:border-4 focus:border-cyan-light-11 dark:focus:border-cyan-dark-8 focus:bg-cyan-light-1 dark:focus:bg-cyan-dark-3 focus:text-cyan-light-12 dark:focus:text-cyan-light-1;
  }

  .toasts {
    @apply max-w-50p fixed bottom-10 left-10;
  }

  .toast {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    @apply rounded bg-cyan-light-5 text-cyan-light-12 px-20 py-30 font-bold drop-shadow-base
    dark:bg-cyan-dark-5 dark:text-cyan-light-1;
  }

  .toast-close-button {
    @apply absolute top-6 right-6 cursor-pointer;
  }
}

@layer utilities {
  .full-size {
    width: 100%;
    min-height: 100svh;
  }

  .favorite {
    @apply font-bold text-cyan-light-11 dark:text-cyan-dark-11;
  }

  .error {
    border: 2px solid red !important;
  }

  .error-message {
    color: red;
    @apply -mt-15 mb-20;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
