@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body font-normal;
  }

  h1 {
    transform: rotate(-5deg);
    @apply font-title text-3xl md:text-5xl text-center;
  }

  h2,
  h3,
  h4,
  h5 {
    @apply font-heading font-bold m-0;
  }

  html {
    font-size: 100%;
    @apply text-sm md:text-base;
  }

  h2 {
    @apply text-2xl md:text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-xl md:text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  section {
    @apply full-size flex flex-col flex-nowrap justify-start items-center;
  }

  #hero {
    background-image: linear-gradient(
        rgba(16, 125, 152, 0.5),
        rgba(16, 125, 152, 0.95)
      ),
      url(/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #techno {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.85),
        rgba(250, 253, 254, 0.95)
      ),
      url(/techno-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #projects {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.85),
        rgba(250, 253, 254, 0.95)
      ),
      url(/projects-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@layer components {
  .techno-item {
    @apply flex items-center mb-5 md:mb-10;
  }

  .techno-tag {
    border-radius: 20px;
    @apply flex items-center px-8 py-2 mr-5 mb-5 text-sm bg-cyan-light-5;
  }
}

@layer utilities {
  .circle {
    border-radius: 50%;
  }

  .full-size {
    width: 100%;
    min-height: 100svh;
  }

  .favorite {
    @apply text-cyan-light-11 font-bold;
  }
}
